<div class="page-footer__bars">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<nav class="footer-nav">
    <ul class="footer-nav__list">
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                О нас
            </a>
        </li>
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                Программа
            </a>
        </li>
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                Услуги и цены
            </a>
        </li>
        <li class="footer-nav__list-item footer-nav__list-item--main">
            <a href="#" class="footer-nav__link footer-nav__link--main">
                <picture>
                    <source srcset="img/logos/tablet-logo.svg" media="(max-width: 1024px)" />
                    <img src="img/logos/desktop-logo.svg" alt="Логотип" />
                </picture>
            </a>
            <ul class="footer-nav__social-list">
                <li class="footer-nav__social-list-item">
                    <a href="#" class="footer-nav__social-link">
                        <svg width="34" height="34" aria-hidden="true" class="icon icon-whatsapp">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-nav__social-list-item">
                    <a href="#" class="footer-nav__social-link">
                        <svg width="34" height="34" aria-hidden="true" class="icon icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                Режим дня
            </a>
        </li>
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                Фотогалерея
            </a>
        </li>
        <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">
                Контакты
            </a>
        </li>
    </ul>
</nav>

<div class="page-footer__bottom-row">
    <div class="page-footer__location">
            Городской округ Химки,
            <br> поселок Старбеево
    </div>
    <div class="page-footer__contacts">
        <a href="tel:+79857699682" class="page-footer__phone-link">+7 985-769-96-82</a>
        <a href="mailto:info@zvetik7.ru" class="page-footer__email-link">e-mail: info@zvetik7.ru</a>
    </div>
</div>
