<div class="page-header__row">

    <a href="index.html" class="page-header__mobile-logo"><img src="img/logos/mobile-logo.svg" alt="Мобильное лого" width="118"></a>

    <div class="main-nav__overlay"></div>
    <nav class="main-nav">
        <button class="main-nav__close-btn">
            <svg width="16" height="16" aria-hidden="true" class="icon icon-burger-close">
                <use xlink:href="#burger-close"></use>
            </svg>
        </button>
        <ul class="main-nav__list">
            <li class="main-nav__list-item">
                <a href="program.html" class="main-nav__link">
                    Программа
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="prices.html" class="main-nav__link">
                    Услуги и цены
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="teachers.html" class="main-nav__link">
                    Наши педагоги
                </a>
            </li>
            <li class="main-nav__list-item main-nav__list-item--main">
                <a href="index.html" class="main-nav__link main-nav__link--main">
                    <picture>
                        <source srcset="img/logos/tablet-logo.svg" media="(max-width: 1024px)" />
                        <img src="img/logos/desktop-logo.svg" alt="Логотип" />
                    </picture>
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="holidays.html" class="main-nav__link">
                    Фотогалерея
                </a>
            </li>
            <li class="main-nav__list-item main-nav__list-item--about-us">
                <a href="about-us.html" class="main-nav__link">
                    О нас
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="contacts.html" class="main-nav__link">
                    Контакты
                </a>
            </li>
            <li class="main-nav__list-item main-nav__list-item--phone">
                <a href="tel:+79857699682" class="main-nav__link main-nav__link--phone">
                    +7 985-769-96-82
                </a>
            </li>
        </ul>
    </nav>


    <button class="page-header__burger">
        <svg width="26" height="14" aria-hidden="true" class="icon icon-burger-open">
            <use xlink:href="#burger-open"></use>
        </svg> 
    </button>
</div>
