<div class="form-modal">
    <div class="form-modal__inner">
        <button class="form-modal__close">
            <svg width="24" height="24" aria-hidden="true" class="icon icon-burger-close">
                <use xlink:href="#burger-close"></use>
            </svg>
        </button>
        <p class="form-modal__thank-you">
            Спасибо за заявку!
        </p>
        <p class="form-modal__subtitle">
            Наш менеджер свяжется с вами в ближайшее время.
        </p>
    </div>
</div>
