{% set title = "О нас" %} {% extends "layout.html" %} {% block content %}

<div class="inner-container">
    <section class="program">
        <h1 class="program__heading">
            О нас
        </h1>
        <div class="program__text program__text--about-us">
            <p>
                <b>«Цветик-семицветик»</b> - это уютный детский сад, расположенный в зелёной зоне квартала Старбеево, рядом с г.Химки. Одновременно в нашем детском саду могут находиться до 50 дошкольников. Это возможно благодаря принципу возрастного деления: младшие и старшие дошкольники находятся в разных корпусах. Корпус "Б" полностью оснащен необходимым оборудованием, с учётом потребностей детей ясельного и младшего дошкольного возраста. Корпус "Е" - ориентирован на детей среднего и старшего дошкольного возраста. Территории корпусов оснащены безопасным игровым и спортивным оборудованием, которое обеспечивает разнообразную активность детей на свежем воздухе.
            </p>
            <p>
                За время своего существования наш детский сад завоевал авторитет среди родителей и любовь воспитанников. Мамы и папы спокойно уходят на работу, зная, что в нашем детском саду у ребёнка интересная и увлекательная жизнь.
            </p>
            <p>
                Мы постарались максимально приблизить атмосферу нашего учреждения к домашней, не только создавая уют в просторных игровых комнатах, тёплых спальнях, светлых учебных классах, но и с помощью наших педагогов.
            </p>
            <p>
                Всех нас объединяет любовь и забота о детях, желание понять ребёнка, помочь быть самим собой, раскрыть его внутренний мир.
            </p>
        </div>
        <div class="program__subheading-block program__subheading-block--about-us">
            <h3 class="program__subheading">
                Доверяя нам своего малыша, родители уверены, что его день будет наполнен разнообразной творческой деятельностью, направленной на всестороннее развитие личности.
            </h3>
           
            <span class="program__subheading-divider program__subheading-divider--about-us"></span>
        </div>

        <div class="program__blocks">
            <ul class="program__blocks-list">
                <li class="program__blocks-list-item">
                    <a href="#" class="program__card">
                        <div class="program__card-image-container">
                            <img src="img/blocks/028b18e0bf303e031fd3ad3012b70001.png" alt="" class="program__card-image">
                        </div>
                        <h5 class="program__card-title">
                            КОРПУС “Е”
                        </h5>
                    </a>
                </li>
                <li class="program__blocks-list-item">
                    <a href="#" class="program__card">
                        <div class="program__card-image-container">
                            <img src="img/blocks/8729f290c26997675375c01af9affad2.png" alt="" class="program__card-image">
                        </div>
                        <h5 class="program__card-title">
                            КОРПУС “Б”
                        </h5>
                    </a>
                </li>
            </ul>
        </div>
       
    </section>
</div>

{% endblock %}
