{% set title = "Наши педагоги" %} {% extends "layout.html" %} {% block content %}

<div class="inner-container">
    <div class="holidays">
        <h2 class="holidays__heading">
            День нептуна
        </h2>

        <ul class="holidays__list">
            <li class="holidays__list-item">
                <a href="img/holidays/neptun.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="img/holidays/decorations.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="img/holidays/laugh.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="img/holidays/neptun.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="img/holidays/decorations.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="img/holidays/laugh.jpg" class="holidays__card" data-fancybox="holiday">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image" />
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
