{% set title = "Наши педагоги" %} {% extends "layout.html" %} {% block content %}

<div class="inner-container">
    <div class="holidays">
        <h2 class="holidays__heading">
            ПРАЗДНИКИ И ВЕСЕЛЫЕ БУДНИ
        </h2>
        <div class="holidays__text">
            <p>
                Каждое утро наших детишек начинается с зажигательной веселой зарядки, которая проводится под музыку в группе или на улице (в летний период). Этим мы обеспечиваем заряд бодрости и хорошего настроения на целый день, который будет
                увлекательным и интересным.
            </p>
            <p>
                Предлагая воспитанникам различные виды деятельности, мы учитываем физиологические и возрастные особенности детского организма в их чередовании. Занятиям в бассейне, проходят в летний период на нашей территории, а осенне-зимний на базе
                С/К «Олимпиец». Занятия по хореографии не оставят детей равнодушными.
            </p>
            <p>
                Уроки ознакомления с английским языком проводятся по Оксфордской программе. Традиционные выезды в наш детский сад детских кукольных театров и цирковых артистов. Проводятся мастер-классы «hand-made» с целью доставить радость и сделать
                подарок своими руками близким и родным людям.
            </p>
        </div>
        <ul class="holidays__list">
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--blue">
                        День нептуна
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--red">
                        ИЗГОТОВЛЕНИЕ ДЕКОРАЦИЙ
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--orange">
                        ДЕНЬ СМЕХА
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--light-violet">
                        День нептуна
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--pink">
                        ИЗГОТОВЛЕНИЕ ДЕКОРАЦИЙ
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--green">
                        ДЕНЬ СМЕХА
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--red">
                        День нептуна
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--violet">
                        ИЗГОТОВЛЕНИЕ ДЕКОРАЦИЙ
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--orange">
                        ДЕНЬ СМЕХА
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/neptun.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--blue">
                        День нептуна
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/decorations.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--light-violet">
                        ИЗГОТОВЛЕНИЕ ДЕКОРАЦИЙ
                    </div>
                </a>
            </li>
            <li class="holidays__list-item">
                <a href="#" class="holidays__card">
                    <div class="holidays__card-image-container">
                        <img src="img/holidays/laugh.jpg" alt="" class="holidays__card-image">
                    </div>
                    <div class="holidays__card-label holidays__card-label--pink">
                        ДЕНЬ СМЕХА
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
