{% set title = "Детальная страница новости" %}
{% extends "layout.html" %}
{% block content %}

    <div class="inner-container">
        <section class="news-detailed">
            <h1 class="news-detailed__heading">
                2-е место на хореографическом конкурсе
            </h1>
            <div class="news-detailed__content">
                <p>
                    Поздравляем с великолемпым выступлением наших малышей из группы "Лучики" на хореографическом конкурсе, прошедшем в эти выходные в Москве!
                </p>
                <p>
                    Наши ребятки (а мы были заявлены именно как частный детский сад) заняли второе место среди профессиональных хореографичеких коллектив и танцевальных студий.
                </p>
                <p>
                    И всё благодаря настоящему профессионалу, влюблённому в своё дело тренеру по хореографии, Ларисе Александровне.
                </p>
                <p>
                    Этот танец ребята разучивали к новогоднему утреннику. Занятия проходили два раза в неделю всего по полчаса. Итого в месяц не более четырёх часов тренировок. За такое короткое время – просто великолепный результат!
                </p>
                <p>
                    Ребята заслужили ваши лайки и аплодисменты.
                </p>
                <p>
                    А кто хочет также? Всех ждём в гости.
                </p>
            </div>
            <div class="news-detailed__slider js-news-details-slider">
                <div class="news-detailed__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-main-card">
                                    <div class="news-detailed__slider-main-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-main-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-main-card">
                                    <div class="news-detailed__slider-main-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-main-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-main-card">
                                    <div class="news-detailed__slider-main-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-main-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-main-card">
                                    <div class="news-detailed__slider-main-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-main-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-main-card">
                                    <div class="news-detailed__slider-main-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-main-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-detailed__slider-thumbs">
                    <button class="news-detailed__slider-thumbs-arrow news-detailed__slider-thumbs-arrow--prev">
                        <svg width="10" height="22" aria-hidden="true" class="icon icon-narrow-arrow-left">
                            <use xlink:href="#narrow-arrow-left"></use>
                        </svg>
                    </button>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-thumbs-card">
                                    <div class="news-detailed__slider-thumbs-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-thumbs-card">
                                    <div class="news-detailed__slider-thumbs-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-thumbs-card">
                                    <div class="news-detailed__slider-thumbs-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-thumbs-card">
                                    <div class="news-detailed__slider-thumbs-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news-detailed__slider-thumbs-card">
                                    <div class="news-detailed__slider-thumbs-card-image-container">
                                        <img src="img/news-details-slider.jpg" alt="" class="news-detailed__slider-thumbs-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="news-detailed__slider-thumbs-arrow news-detailed__slider-thumbs-arrow--next">
                        <svg width="10" height="22" aria-hidden="true" class="icon icon-narrow-arrow-right">
                            <use xlink:href="#narrow-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="news-details__slider-pagination"></div>
            </div>
            <div class="news-detailed__blocks">
                <ul class="news-detailed__blocks-list">
                    <li class="news-detailed__blocks-list-item">
                        <div class="news-detailed__blocks-card">
                            <h4 class="news-detailed__blocks-card-title">
                                В нашем детском саду прошел День Нептуна!
                            </h4>
                            <p class="news-detailed__blocks-card-text">
                                Мы до последнего момента не сообщали родителям наших воспитанников о том, что планируем проводить праздник из-за непредсказуемой летней погоды. Подробнее...
                            </p>
                            <a href="#" class="news-detailed__blocks-card-link">Подробнее...</a>
                        </div>
                    
                    </li>
                    <li class="news-detailed__blocks-list-item">
                        <div class="news-detailed__blocks-card">
                            <h4 class="news-detailed__blocks-card-title">
                                В нашем детском саду прошел День Нептуна!
                            </h4>
                            <p class="news-detailed__blocks-card-text">
                                Мы до последнего момента не сообщали родителям наших воспитанников о том, что планируем проводить праздник из-за непредсказуемой летней погоды. Подробнее...
                            </p>
                            <a href="#" class="news-detailed__blocks-card-link">Подробнее...</a>
                        </div>
                       
                    </li>
                    <li class="news-detailed__blocks-list-item">
                        
                        <a href="#" class="news-detailed__blocks-prev-link">
                            <svg width="5" height="5" aria-hidden="true" class="icon icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                            Предыдущая новость
                        </a>
                    </li>
                    <li class="news-detailed__blocks-list-item">
                        
                        <a href="#" class="news-detailed__blocks-next-link">
                            Следующая новость
                            <svg width="5" height="5" aria-hidden="true" class="icon icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

    </div>

{% endblock %}