{% set title = "Список новостей" %}
{% extends "layout.html" %}
{% block content %}

    <div class="inner-container">
        <section class="news-catalog">
            <h1 class="news-catalog__heading">
                Новости
            </h1>
            <ul class="news-catalog__list">
                <li class="news-catalog__list-item">
                    <div class="news-catalog__card">
                        <h4 class="news-catalog__card-title">
                            В нашем детском саду прошел День Нептуна!
                        </h4>
                        <p class="news-catalog__card-text">
                            Мы до последнего момента не сообщали родителям наших воспитанников о том, что планируем проводить праздник из-за непредсказуемой летней погоды. Но, Ура! Он состоялся. Погода была сегодня, 20-го августа, просто великолепная. Летняя, солнечная, она подарила нам чудесный праздник. Смотрите фото на сайте в разделе "Праздники".
                            <a href="#" class="news-catalog__card-link">
                                Подробнее...
                            </a>
                        </p>
                    </div>
                </li>
                <li class="news-catalog__list-item">
                    <div class="news-catalog__card">
                        <h4 class="news-catalog__card-title">
                            Акции в социальной сети Instagram
                        </h4>
                        <p class="news-catalog__card-text">
                            Мы до последнего момента не сообщали родителям наших воспитанников о том, что планируем проводить праздник из-за непредсказуемой летней погоды. Но, Ура! Он состоялся. Погода была сегодня, 20-го августа, просто великолепная. Летняя, солнечная, она подарила нам чудесный праздник. Смотрите фото на сайте в разделе "Праздники".
                            <a href="#" class="news-catalog__card-link">
                                Подробнее...
                            </a>
                        </p>
                    </div>
                </li>
                <li class="news-catalog__list-item">
                    <div class="news-catalog__card">
                        <h4 class="news-catalog__card-title">
                            2-е место на хореографическом конкурсе
                        </h4>
                        <p class="news-catalog__card-text">
                            Мы до последнего момента не сообщали родителям наших воспитанников о том, что планируем проводить праздник из-за непредсказуемой летней погоды. Но, Ура! Он состоялся. Погода была сегодня, 20-го августа, просто великолепная. Летняя, солнечная, она подарила нам чудесный праздник. Смотрите фото на сайте в разделе "Праздники".
                            <a href="#" class="news-catalog__card-link">
                                Подробнее...
                            </a>
                        </p>
                    </div>
                </li>
                <li class="news-catalog__list-item">
                    <div class="news-catalog__card">
                        <h4 class="news-catalog__card-title">
                            Праздники 8-е Марта
                        </h4>
                        <p class="news-catalog__card-text">
                            Приглашаем наших мам на праздники 8-е Марта! 5-го марта - группа "Лучики" и "Вишенки" - совмещенные праздники 8-е Марта и Масленица. 7-го марта - группа "Звездочки" и "Ладушки" - утром празднуем 8-е Марта, вечером - Масленицу.
                            <a href="#" class="news-catalog__card-link">
                                Подробнее...
                            </a>
                        </p>
                    </div>
                </li>
            </ul>

            <div class="news-catalog__pagination">
                <a href="#" class="news-catalog__pagination-previous">
                    <svg width="5" height="5" aria-hidden="true" class="icon icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </a>
                <ul class="news-catalog__pagination-pages">
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            1
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item active">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            2
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            3
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            4
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            5
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            6
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            7
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            8
                        </a>
                    </li>
                    <li class="news-catalog__pagination-pages-item">
                        <a href="#" class="news-catalog__pagination-pages-link">
                            9
                        </a>
                    </li>
                </ul>
                <a href="#" class="news-catalog__pagination-next">
                    <svg width="5" height="5" aria-hidden="true" class="icon icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </section>

    </div>

{% endblock %}