{% set title = "Программа обучения" %} {% extends "layout.html" %} {% block content %}

<div class="inner-container">
    <section class="prices">
        <h1 class="prices__heading">
            Услуги и цены
        </h1>
        <div class="prices__bonuses">
            <p class="prices__bonuses-paragraph">
                В нашем детском клубе одновременно могут пребывать 50 детей. Это возможно благодаря 2-м корпусам. В программу включено оптимальное количество игр, отдыха и развивающих занятий, нам важно, чтобы у наших детей к вечеру при встрече с
                родителями оставались румяные щечки и озорные улыбки.
            </p>
            <ul class="prices__bonuses-list">
                <li class="prices__bonuses-list-item">
                    <div class="prices__bonuses-card prices__bonuses-card--violet">
                        <div class="prices__bonuses-card-top">
                            Специальные условия для базового пакета
                        </div>
                        <div class="prices__bonuses-card-bottom">
                            Предоставляется скидка на второго и каждого последующего ребенка из одной семьи, находящихся в нашем центре одновременно
                        </div>
                    </div>
                </li>
                <li class="prices__bonuses-list-item">
                    <div class="prices__bonuses-card prices__bonuses-card--blue">
                        <div class="prices__bonuses-card-top">
                            Специальные условия для премиального пакета
                        </div>
                        <div class="prices__bonuses-card-bottom">
                            20% скидка на второго и каждого последующего ребенка из одной семьи, находящихся в нашем центре одновременно.
                        </div>
                    </div>
                </li>
                <li class="prices__bonuses-list-item">
                    <div class="prices__bonuses-card prices__bonuses-card--red">
                        <div class="prices__bonuses-card-top">
                            Пребывание ребенка в нашем центре
                        </div>
                        <div class="prices__bonuses-card-bottom">
                            Вы можете оставить своего ребенка в нашем центре. Стоимость услуги составляет 300 руб. за 1 час. После 20:00 - 500 рублей за 1 час.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="prices__remark">
            <p class="prices__remark-text">
                Доступна для заказа услуга доставки ребенка водителем, состоящим в штате детского сада. Стоимость рассчитывается индивидуально.
            </p>
            <span class="prices__remark-divider"></span>
        </div>
        <div class="prices__plans">
            <ul class="prices__plans-list">
                <li class="prices__plans-list-item">
                    <div class="prices__plans-card prices__plans-card--blue">
                        <div class="prices__plans-card-type">
                            Старт
                        </div>
                        <div class="prices__plans-card-content">
                            <p class="prices__plans-card-time">
                                8:00-18:00
                            </p>
                            <div class="prices__plans-card-text">
                                <p>
                                    Пребывание ребенка с 8.00 утра до 18.00 вечера с четырехразовым питанием: завтрак, 2-й завтрак, обед, уплотненный полдник.
                                </p>
                                <p>
                                    <em>
                                        Сетка занятий по программе Васильевой, включающая в себя развитие речи, формирование элементарных математических представлений, окружающий мир, ручной труд (лепка, аппликация, рисование, конструирование),
                                        физкультура, музыкальное занятие.
                                    </em>
                                </p>
                            </div>
                            <div class="prices__plans-card-regime">
                                <p class="prices__plans-card-regime-remark">
                                    При осутствии ребенка в саду, перерасчет не производится
                                </p>
                                <a href="#" class="prices__plans-card-regime-btn">
                                    Режим дня
                                </a>
                                <p class="prices__plans-card-price">
                                    30 000 руб./месяц
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prices__plans-modal prices__plans-modal--blue">
                        <div class="prices__plans-modal-inner">
                            <button class="prices__plans-modal-close">
                                <svg width="24" height="24" aria-hidden="true" class="icon icon-burger-close">
                                    <use xlink:href="#burger-close"></use>
                                </svg>
                            </button>
                            <h5 class="prices__plans-modal-heading">
                                Старт
                            </h5>
                            <div class="prices__plans-modal-content">
                                <p><em>8.00</em> – прием детей</p>
                                <p><em>8.50</em> – утренняя гимнастика</p>
                                <p><em>9.00</em> – завтрак</p>
                                <p><em>9.30 – 11.00</em> развивающие занятия</p>
                                <p><em>11.30 – 12.30</em> – прогулка на свежем воздухе</p>
                                <p><em>12.45 – 13.30</em> – обед</p>
                                <p><em>14.00 – 16.00</em> – тихий час</p>

                                <p><em>16.30</em> – полдник</p>
                                <p><em>17.00 – 17.30</em> – занятие</p>
                                <p><em>17.45 – 18.00</em> – прогулка, уход домой.</p>
                            </div>
                            <p class="prices__attention">
                                Пребывание ребенка после 18.00 до 20:00 стоит 250 рублей за 1 час
                            </p>
                        </div>
                    </div>
                </li>
                <li class="prices__plans-list-item">
                    <div class="prices__plans-card prices__plans-card--violet">
                        <div class="prices__plans-card-type">
                            Базовый
                        </div>
                        <div class="prices__plans-card-content">
                            <p class="prices__plans-card-time">
                                8:00-19:00
                            </p>
                            <div class="prices__plans-card-text">
                                <p>
                                    Пребывание ребенка с 8 утра до 19.00 с 5-ти разовым питанием: завтрак, 2-й завтрак, обед, полдник, ужин.
                                </p>
                                <p>
                                    Сетка занятий по программе Васильевой, включающая в себя развитие речи, формирование элементарных математических представлений, окружающий мир, ручной труд (лепка, аппликация, рисование, конструирование),
                                    физкультура, музыкальное занятие.
                                </p>
                                <p>
                                    <em>
                                        Также в стоимость включены дополнительные развивающие занятия: хореография, английский язык, бассейн – по 1 одному занятию в неделю.
                                    </em>
                                </p>
                            </div>
                            <div class="prices__plans-card-regime">
                                <p class="prices__plans-card-regime-remark">
                                    При осутствии ребенка в саду, перерасчет не производится
                                </p>
                                <a href="#" class="prices__plans-card-regime-btn">
                                    Режим дня
                                </a>
                                <p class="prices__plans-card-price">
                                    37 000 руб./месяц
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prices__plans-modal prices__plans-modal--violet">
                        <div class="prices__plans-modal-inner">
                            <button class="prices__plans-modal-close">
                                <svg width="24" height="24" aria-hidden="true" class="icon icon-burger-close">
                                    <use xlink:href="#burger-close"></use>
                                </svg>
                            </button>
                            <h5 class="prices__plans-modal-heading">
                                Базовый
                            </h5>
                            <div class="prices__plans-modal-content">
                                <p><em>8.00</em> – прием детей</p>
                                <p><em>8.50</em> – утренняя гимнастика</p>
                                <p><em>9.00</em> – завтрак</p>
                                <p><em>9.30 – 11.00</em> развивающие занятия</p>
                                <p><em>11.30 – 12.30</em> – прогулка на свежем воздухе</p>
                                <p><em>12.45 – 13.30</em> – обед</p>
                                <p><em>14.00 – 16.00</em> – тихий час</p>

                                <p><em>16.30</em> – полдник</p>
                                <p><em>17.00 – 18.00</em> – занятие</p>
                                <p><em>18.00 – 18.45</em> – прогулка, уход домой.</p>
                                <p><em>19.00</em> – ужин,уход домой</p>
                            </div>
                            <p class="prices__attention">
                                Пребывание ребенка после 18.00 до 20:00 стоит 250 рублей за 1 час
                            </p>
                        </div>
                    </div>
                </li>
                <li class="prices__plans-list-item">
                    <div class="prices__plans-card prices__plans-card--red">
                        <div class="prices__plans-card-type">
                            Премиум
                        </div>
                        <div class="prices__plans-card-content">
                            <p class="prices__plans-card-time">
                                8:00-20:00
                            </p>
                            <div class="prices__plans-card-text">
                                <p>
                                    Пребывание ребенка с 8 утра до 20.00 с 5-ти разовым питанием: завтрак, 2-й завтрак, обед, полдник, ужин.
                                </p>
                                <p>
                                    Сетка занятий по программе Васильевой, включающая в себя, развитие речи, формирование элементарных математических представлений, окружающий мир, ручной труд (лепка, аппликация, рисование, конструирование),
                                    физкультура, музыкальные занятия. Также в стоимость включены дополнительные развивающие занятия: хореография, английский язык, бассейн – по 2 занятия в неделю.
                                </p>
                                <p>
                                    <em>
                                        В стоимость входят мастер-классы по флористике, мыловарению, бижутерии.
                                    </em>
                                </p>
                            </div>
                            <div class="prices__plans-card-regime">
                                <p class="prices__plans-card-regime-remark">
                                    При осутствии ребенка в саду, перерасчет не производится
                                </p>
                                <a href="#" class="prices__plans-card-regime-btn">
                                    Режим дня
                                </a>
                                <p class="prices__plans-card-price">
                                    43 000 руб./месяц
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="prices__plans-modal prices__plans-modal--red">
                        <div class="prices__plans-modal-inner">
                            <button class="prices__plans-modal-close">
                                <svg width="24" height="24" aria-hidden="true" class="icon icon-burger-close">
                                    <use xlink:href="#burger-close"></use>
                                </svg>
                            </button>
                            <h5 class="prices__plans-modal-heading">
                                Премиум
                            </h5>
                            <div class="prices__plans-modal-content">
                                <p><em>8.00</em> – прием детей</p>
                                <p><em>8.50</em> – утренняя гимнастика</p>
                                <p><em>9.00</em> – завтрак</p>
                                <p><em>9.30 – 11.00</em> развивающие занятия</p>
                                <p><em>11.30 – 12.30</em> – прогулка на свежем воздухе</p>
                                <p><em>12.45 – 13.30</em> – обед</p>
                                <p><em>14.00 – 16.00</em> – тихий час</p>
                                <p><em>16.30</em> – полдник</p>
                                <p><em>17.00 – 18.00</em> – занятие</p>
                                <p><em>18.00 – 18.45</em> – прогулка</p>
                                <p><em>19.00</em> – ужин</p>
                                <p><em>19.30</em> – спокойные игры, мультик</p>
                                <p><em>20.00</em> – уход домой</p>
                            </div>
                            <p class="prices__attention">
                                Пребывание ребенка после 18.00 до 20:00 стоит 500 рублей за 1 час
                            </p>
                        </div>
                    </div>
                </li>
                <li class="prices__plans-list-item">
                    <div class="prices__plans-card prices__plans-card--green">
                        <div class="prices__plans-card-type">
                            Гибкий
                        </div>
                        <div class="prices__plans-card-content">
                            <p class="prices__plans-card-time">
                                по договоренности
                            </p>
                            <div class="prices__plans-card-text">
                                <p>
                                    Мы готовы обсуждать различные варианты графиков, питания и системы индивидуального обучения для Вашего ребёнка.
                                </p>
                                <p>
                                    Перейдите к подробному описанию наших услуги и заполните форму обратной связи. Наши специалисты свяжутся с Вами для обсуждения всех условий.
                                </p>
                            </div>
                            <form class="prices__plans-card-regime" action="/" method="POST" data-parsley-validate>
                                <div class="prices__plans-inputs">
                                    <div class="prices__plans-card-input-row">
                                        <div class="prices__plans-card-input-wrapper">
                                            <input type="text" name="name" required placeholder="Имя" />
                                        </div>
                                        <div class="prices__plans-card-input-wrapper">
                                            <input type="email" name="email" required placeholder="E-mail" />
                                        </div>
                                    </div>
                                    <div class="prices__plans-card-input-row">
                                        <div class="prices__plans-card-input-wrapper">
                                            <textarea name="comment" placeholder="Сообщение" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="prices__plans-card-regime-btn js-form-modal">
                                    Отправить
                                </button>

                                <p class="prices__plans-card-price">
                                    43 000 руб./месяц
                                </p>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <p class="prices__plans-bottom-remark">
                После месячного пребывания ребенка в нашем центре предусмотрен единоразовый взнос, который равен месячной оплате.
            </p>
        </div>
        <div class="prices__additional">
            <h3 class="prices__additional-heading">
                Дополнительные<br />
                занятия
            </h3>
            <ul class="prices__additional-list">
                <li class="prices__additional-list-item">
                    <a href="dance.html" class="prices__additional-card prices__additional-card--orange">
                        <h5 class="prices__additional-card-title">
                            Хореография
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            600Р
                        </p>
                    </a>
                </li>
                <li class="prices__additional-list-item">
                    <a class="prices__additional-card prices__additional-card--pink">
                        <h5 class="prices__additional-card-title">
                            Логопед
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            850Р
                        </p>
                    </a>
                </li>
                <li class="prices__additional-list-item">
                    <a class="prices__additional-card prices__additional-card--light-violet">
                        <h5 class="prices__additional-card-title">
                            Английский язык
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            600Р
                        </p>
                    </a>
                </li>
                <li class="prices__additional-list-item">
                    <a class="prices__additional-card prices__additional-card--blue">
                        <h5 class="prices__additional-card-title">
                            Бассейн
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            1100Р
                        </p>
                    </a>
                </li>
                <li class="prices__additional-list-item">
                    <a class="prices__additional-card prices__additional-card--violet">
                        <h5 class="prices__additional-card-title">
                            Массаж, ЛФК
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            800Р
                        </p>
                    </a>
                </li>
                <li class="prices__additional-list-item">
                    <a class="prices__additional-card prices__additional-card--orange">
                        <h5 class="prices__additional-card-title">
                            Футбол
                        </h5>
                        <p class="prices__additional-cost-text">
                            стоимость занятия
                        </p>
                        <p class="prices__additional-cost-number">
                            600Р
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>

{% endblock %}
