{% set title = "Наши педагоги" %} {% extends "layout.html" %} {% block content %}

<div class="inner-container">
    <section class="teachers">
        <h2 class="teachers__heading">
            НАШИ ПЕДАГОГИ
        </h2>
        <ul class="teachers__list">
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Наталия Владимировна – заведующая клубом и мама одной из выпускниц детского клуба.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Уже в юности знала, что будет учителем, а когда пришло время поступления в ВУЗ, выбрала факультет дошкольной педагогики и психологии, училась только на «отлично». Закончила с красным дипломом, защитила диссертацию тоже
                                с отличием.
                            </p>

                            <p>
                                Имеет научные работы, за что была отмечена стипендией правительства Российской Федерации. К созданию своего дела шла долго, т.к. хотела создать такой детский сад, в котором будет хорошо всем детям любого возраста.
                            </p>
                            <p>
                                Она собрала отличную команду профессионалов своего дела, которые любят детей и свою работу. Именно поэтому в ее клуб дети идут с огромной радостью.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Анна Николаевна – молодой специалист, закончила университет психологии в Москве, начинала у нас работать как помощник воспитателя, но очень быстро поняла, что ее предназначение - воспитатель.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                В данной профессии Анна Николаевна раскрыла весь свой творческий потенциал. По результатам внутреннего мониторинга ее воспитанники превосходно владеют материалом как своего возраста, так и без труда осваивают программу
                                подготовительного этапа к школе.
                            </p>

                            <p>
                                Анна Николаевна - любимица всех воспитанников, и не только своей группы. Она прекрасно ладит с детьми, чудесно организует занятия и развлекательные моменты, не забывая о дисциплине и воспитании. Анна Николаевна -
                                молодая мама чудесного сына Акима, с которым она любит путешествовать и вкусно готовить.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Лариса Алексеевна – талантливый хорерграф с огромным опытом работы.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                В профессии очень давно, любит ее всем сердцем.
                            </p>
                            <p>
                                Вернулась в коллектив после рождения дочери с новыми силами и творческими идеями.
                            </p>
                            <p>
                                Постановка ее танцев на праздничных мероприятиях вызывает восторг со стороны родителей воспитанников. В ближайших планах - покорение вершин всех творческих конкурсов с воспитанниками нашего детского сада.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Надежда Александровна – преподаватель физкультуры, а также тренер по художественной гимнастике.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Молодая спортсменка и педагог, мама двоих прекрасных детей, вошла в наш коллектив и очень полюбила наших воспитанников.
                            </p>
                            <p>
                                С некоторых пор, любимым уроком наших детей по вторникам и четвергам стала физкультура. В этом году мы открыли новое направление для девочек в нашем уютном саду, это художественная гимнастика. Его ведет мастер спорта
                                по художественной гимнастике Надежда Александровна.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Юлия Викторовна – молодой специалист в области медицины. Закончила медицинское училище с присвоением квалификации медицинская сестра.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Долгое время работала по специальности в ДОУ, в рамках повышения квалификации приобрела дополнительную специальность – детского массажиста. Под ее ласковыми руками детки сразу расслабляются и засыпают, что еще раз
                                подчеркивает правильность выполнения любого массажа. В настоящее время Юлия Викторовна курирует наш детский клуб как медицинская сестра, и успешно ведет занятия по ЛФК – лечебной физкультуре. Занятия доставляют ребятам
                                особую радость, т.к. именно на них они с большим удовольствием бегают, прыгают, скачут, осваивают новые умения и навыки.
                            </p>
                            <p>
                                С недавнего времени Юлия Викторовна - уже воспитатель не только по призванию, но и по профессии. Юлия Викторовна получила диплом по специальности "педагог-дошкольник".
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Светлана Сергеевна - воспитатель раннего дошкольного возраста.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Светлана Сергеевна в начале трудовой деятельности окончила педагогическое училище.
                            </p>
                            <p>
                                После его окончания поступила на работу в ДОУ, осталась в профессии воспитателя. Более 15 лет работы было отдано малышам возраста 2-3 лет (ранний дошкольный возраст)
                            </p>
                            <p>
                                Этот возраст считает самым благодарным, т.к. малышки впитывают информацию как губки, сразу же дают отдачу эмоциями и не умеют лукавить. Её воспитанники - самые маленькие посетители нашего клуба.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item teachers__list-item--half">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Алла Александровна.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Помощник воспитателя.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item teachers__list-item--half">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Ирина Александровна.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Музыкальный руководитель нашего детского сада.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item teachers__list-item--half">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Вера Селиверстовна.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Логопед нашего детского сада
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item teachers__list-item--half">
                <div class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/photo.jpg" alt="Фото" class="teachers__card-image" />
                    </div>
                    <div class="teachers__card-content">
                        <h4 class="teachers__card-name">
                            Анна Сергеевна.
                        </h4>
                        <div class="teachers__card-text">
                            <p>
                                Учитель английского языка.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>

{% endblock %}
