.container {
    width: 100%;
    max-width: calc(var(--max-container-width, 1200px) + (var(--content-padding, 20px) * 2));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    &--flex {
        display: flex;
    }

    &--align-items-center {
        align-items: center;
    }

    &--flex-column-direction {
        flex-direction: column;
    }

    &--flex-grow {
        flex-grow: 1;
    }
}



.inner-container {
    margin: 0 auto;
    max-width: var(--inner-container-max-width);
    width: 100%;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-header {
    position: relative;
    
    color: white;
    z-index: 500;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    
   
    @include breakpoint(small-mobile) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: calc((100vw - 100%) / 2 * -1);
        width: 100vw;
        top: 0;
        bottom: 0;
        background-color: var(--red);
        z-index: -1;
    }

    &--absolute {
        min-height: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        padding-bottom: 0;
        &::before {
            display: none;
        }
    }
}

.page-header__row {
  
    @include breakpoint(tablet) {
        display: flex;
        align-items: center;
    }
}

.page-header__mobile-logo {
    display: none;
    @include breakpoint(tablet) {
        display: block;
        margin-right: auto;
        width: 14.5rem;
    }

    @include breakpoint(small-mobile) {
        width: 11.8rem;
    }
}

.page-header__burger {
    display: none;
    outline: none;
    svg {
        fill: white;
        width: 3.2rem;
        height: 1.8rem;

        @include breakpoint(small-mobile) {
            width: 2.6rem;
            height: 1.4rem;
        }
    }
    @include breakpoint(tablet) {
        display: block;
    }
}

.page-main {
    flex-grow: 1;
}

.page-footer {
    position: relative;
    color: white;

    &::before {
        content: '';
        position: absolute;
        left: calc((100vw - 100%) / 2 * -1);
        width: 100vw;
        top: 0;
        bottom: 0;
        background-color: var(--red);
        z-index: -1;
    }
}

.page-footer__bars {
    margin-left: calc((100vw - 100%) / 2 * -1);
    margin-right: calc((100vw - 100%) / 2 * -1);
    display: flex;
    > span {
        height: 1rem;
        width: 25%;
        display: block;
        @include breakpoint(small-mobile) {
            height: 8px;
        }
        &:nth-child(1) {
            background-color: var(--dark-violet);
        }
        &:nth-child(2) {
            background-color: var(--dark-pink);
        }
        &:nth-child(3) {
            background-color: var(--orange);
        }
        &:nth-child(4) {
            background-color: var(--green);
        }
    }
}

.page-footer__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--roboto);
    margin-top: -8rem;

    padding-bottom: 6.5rem;
    padding-bottom: 10rem;

    @include breakpoint(small-mobile) {
        margin-top: 0;
    }


    @include breakpoint(small-mobile) {
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.page-footer__location {
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: var(--roboto);
    font-weight: 400;
   
    @include breakpoint(small-mobile) {
        order: 20;
        margin-bottom: 4rem;
    }
   
}

.page-footer__contacts {
    text-align: right;
    @include breakpoint(small-mobile) {
        text-align: center;
        margin-bottom: 4rem;
    }
}

.page-footer__phone-link {
    font-weight: 700;
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
    transition: color .2s;
    &:link,
    &:visited {
        color: white;
    }


    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, .5);
    }
    
    @include breakpoint(tablet) {
        font-size: 1.8rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.page-footer__email-link {
    font-size: 1.4rem;
    display: block;
    margin-top: .5rem;
    transition: color .2s;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, .5);
    }
}
