.main-nav {
    @include breakpoint(tablet) {
        background-color: white;
        color: #444444;
        position: fixed;
        
        width: 55%;
        top: 0;
        bottom: 0;
        z-index: 500;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        > * {
            flex-shrink: 0;
        }

        visibility: hidden;
        left: 100%;
        transition: transform .3s, visibility 0s linear .3s;


       
        .burger-open & {
            transform: translateX(-100%);
            visibility: visible;
            transition: transform .3s;
        }
    }
}  

.main-nav__close-btn {
    position: absolute;
    top: 3.5rem;
    right: 4rem;
    display: none;

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: #EFA0A3;
        }
    }
    @include noHighlight();
    @include breakpoint(tablet) {
        display: block;
    }
    @include breakpoint(small-mobile) {
        top: 3rem;
        right: 3rem;
    }
    svg {
        fill: #9A9A9A;
        width: 20px;
        height: 20px;
        transition: fill .2s;
        @include breakpoint(small-mobile) {
            width: 16px;
            height: 16px;
        }
    }
}

.main-nav__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .3);
    z-index: 400;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s linear .3s;
    backdrop-filter: blur(5px);


   
    @include breakpoint(tablet) {
        display: block;


        .burger-open & {
            opacity: 1;
            visibility: visible;
            transition: all .3s;
        }
    }
}


.main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    @include breakpoint(tablet) {
        display: flex;
        justify-content: initial;
        align-items: initial;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        flex-grow: 1;
        max-height: 100%;
        overflow-x: hidden;
        padding-top: 14rem;
        -webkit-overflow-scrolling: touch;
        > * {
            flex-shrink: 0;
        }
    }

    @include breakpoint(small-mobile) {
        width: 100%;

        padding-top: 8rem;
    }
}


.main-nav__list-item {
    
   
    &--phone {
        @include breakpoint(tablet) {
            margin-top: auto;
        }
    }


   
}


.main-nav__link {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    padding: 2rem 0;
    transition: color .2s;
    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, .5);
    }
   
    @include breakpoint(tablet) {
        font-weight: 400;
        padding: 1.8rem 0;
        font-weight: 600;
        font-size: 1.4rem;
        padding-right: 3rem;
        .no-touch &:hover,
        .touch &:active {
            color: #e24f54;
        }
    }
    @include breakpoint(small-mobile) {
        padding: 1.2rem 0;
        padding-left: 3rem;
    }
    &--main {
        width: 10rem;
        padding: 0;
       
        @include breakpoint(tablet) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
        }
    }


    &--phone {
        font-size: 1.4rem;
        font-weight: 700;
        @include breakpoint(tablet) {
            color: #5D5D5D;
            font-weight: 700;
        }
    }
}


