.program {
    margin-top: 14rem;
    margin-bottom: 27rem;

    @include breakpoint(desktop) {
        margin-top: 8rem;
        margin-bottom: 14rem;
    }

    @include breakpoint(tablet) {
        margin-top: 5.5rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }

    @include breakpoint(small-mobile) {
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
}

.program__heading {
    font-size: 4.6rem;
    font-weight: 600;
    color: var(--superdark-violet);
    text-transform: uppercase;
    margin-bottom: 10rem;
    text-align: center;
    @include breakpoint(desktop) {
        margin-bottom: 6rem;
        font-size: 3.6rem;
    }
    @include breakpoint(tablet) {
        font-size: 2.4rem;
        margin-bottom: 5rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
    @include breakpoint(small-mobile) {
        margin-bottom: 3rem;
    }
}

.program__text {
    column-count: 2;
    column-gap: 8rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 10rem;

    &--about-us {
        column-count: 1 !important;
    }

    @include breakpoint(tablet) {
        column-gap: 3rem;
    }

    @include breakpoint(small-mobile) {
        column-count: 1;
        margin-bottom: 5rem;
    }
    p,
    ul > li {
        break-inside: avoid;
        margin-bottom: 2rem;
        margin-top: 2rem;
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    b {
        font-weight: 500;
    }
}

.program__subheading-block {
    color: #6a92f8;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 14rem;

    &--about-us {
        max-width: none;
    }
    @include breakpoint(small-mobile) {
        margin-bottom: 5rem;
    }
}

.program__subheading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 3rem;
    text-transform: uppercase;
    max-width: 800px;
    margin: 0 auto;
    @include breakpoint(small-mobile) {
       
        margin-bottom: 1.2rem;
    }
}

.program__subheading-paragraph {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-bottom: 7rem;
    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
}

.program__subheading-divider {
    width: 48rem;
    height: 1rem;
    margin: 0 auto;
    display: block;
    background: #c961e4;
    margin-top: 6.5rem;
    &--about-us {
        width: 15rem;
    }

    @include breakpoint(desktop) {
        height: 6px;
    }
    @include breakpoint(small-mobile) {
        width: 70%;
        height: 4px;
        margin-top: 4rem;
    }
}


.program__blocks {
    max-width: 800px;
    margin: 0 auto;
}

.program__blocks-list {
    display: flex;
    flex-wrap: wrap;
    margin: -4rem -13rem;
    @include breakpoint(desktop) {
        margin: 0;
    }

    @include breakpoint(small-mobile) {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.program__blocks-list-item {
    width: 50%;
    padding: 4rem 13rem;
    @include breakpoint(desktop) {
        padding: 0;
    }

    @include breakpoint(small-mobile) {
        width: 100%;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.program__card-image-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    &::after {
        content: '';
        width: 100%;
        display: block;
        padding-bottom: 100%;
    }
}

.program__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    @include objectFitCover();
}

.program__card-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #8b28a6;
    margin-top: 6.5rem;
    text-align: center;
    font-weight: 600;
    @include breakpoint(desktop) {
        font-size: 3rem;
        margin-top: 4rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
    }

    @include breakpoint(small-mobile) {
        margin-top: 2rem;
    }
}

.program__card {
    display: block;

    .no-touch &:hover {
        .program__card-image {
            transform: scale(1.05);
        }
    }
    @include breakpoint(desktop) {
        width: 80%;
        margin: 0 auto;
    }
}
