.standard-page {
    margin-top: 14rem;
    margin-bottom: 27rem;

    @include breakpoint(desktop) {
        margin-top: 8rem;
        margin-bottom: 14rem;
    }

    @include breakpoint(tablet) {
        margin-top: 5.5rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 6rem;
    }

    @include breakpoint(small-mobile) {
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
}

.standard-page__heading {
    font-size: 4.6rem;
    font-weight: 600;
    color: var(--superdark-violet);
    text-transform: uppercase;
    margin-bottom: 10rem;
    text-align: center;
    @include breakpoint(desktop) {
        margin-bottom: 6rem;
        font-size: 3.6rem;
    }
    @include breakpoint(tablet) {
        font-size: 2.4rem;
        margin-bottom: 5rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
    @include breakpoint(small-mobile) {
        margin-bottom: 3rem;
    }
}



.standard-page__content {
    font-size: 1.8rem;
    line-height: 1.5;
    color: black;
    @include breakpoint(small-mobile) {
        font-size: 1.6rem;
    }
    > * {
        margin: 2rem 0;
        @include breakpoint(mobile) {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }


    blockquote {
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.4rem;
        line-height: 1.6;
        font-weight: 600;
        text-transform: uppercase;
        color: #F04D53;
        text-align: center;
        @include breakpoint(mobile) {
            margin-top: 5rem;
            margin-bottom: 5rem;
            font-size: 2rem;
        }
        @include breakpoint(small-mobile) {
            font-size: 1.8rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }

    b {
        font-weight: 500;
    }

    em {
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-style: normal;
        font-family: var(--roboto);
        color: #8B28A6;
        font-weight: 500;
        line-height: 2;
        display: block;
        @include breakpoint(small-mobile) {
            line-height: 1.6;
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;
        }
    }


    h1, h2, h3 {
        color: #8B28A6;
        font-weight: 600;
        font-size: 3.6rem;
        @include breakpoint(mobile) {
            font-size: 3rem;
        }
        @include breakpoint(small-mobile) {
            font-size: 2.4rem;
        }
    }


    h4, h5, h6 {
        font-family: var(--roboto);
        font-size: 2.4rem;
        font-weight: 500;
        @include breakpoint(mobile) {
            font-size: 2rem;
        }
        @include breakpoint(small-mobile) {
            font-size: 1.6rem;
        }
    }

    ol {
        font-family: var(--roboto);
        margin-bottom: 4rem;
        @include breakpoint(small-mobile) {
            margin-bottom: 2rem;
        }
        li {
            margin-bottom: 1.5rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    hr {
        border: none;
        display: block;
        width: 11rem;
        height: 1rem;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        background-color: #C961E4;
        + * {
            margin-top: 3rem;
        }
        @include breakpoint(small-mobile) {
            height: 4px;

        }
    }


    ul {
        font-family: var(--roboto);
        margin-bottom: 4rem;
        @include breakpoint(small-mobile) {
            margin-bottom: 2rem;
        }
        li {
            margin-bottom: 1rem;
            padding-left: 4rem;
            position: relative;
            &::before {
                content: '';
                width: 22px;
                height: 22px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: .1em;
                background-color: #E24F54;
                @include breakpoint(mobile) {
                    width: 16px;
                    height: 16px;
                    top: .25em
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    .images-block {
        margin-top: 4rem;
        margin-bottom: 4rem;
        @include breakpoint(small-mobile) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        &__row {
            display: flex;
            flex-wrap: wrap;
            margin: -3.5rem;
            @include breakpoint(mobile) {
                margin: -1.8rem;
            }
            @include breakpoint(small-mobile) {
                flex-direction: column;
                margin: -1.2rem;
            }
        }
        &__item {
            width: 50%;
            padding: 3.5rem;
            @include breakpoint(mobile) {
                padding: 1.8rem;
            }
            @include breakpoint(small-mobile) {
                width: 100%;
                padding: 1.2rem;
            }
        }


        &__card {
            position: relative;
            &::before {
                content: '';
                padding-bottom: 56.25%;
                display: block;
                width: 100%;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                @include objectFitCover();
            }
        }
    }
}